body{
    margin: 0px;
    padding:0px;
}

.main{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    color: white;

}

.nav-bar{
    height:48px;
    width: 100%;
     display: flex; 
    align-items: center;
    background-color: rgb(36, 36, 36, 0.5);
    position: fixed; 
    
}


.pic-1{
    background-image: url(./assets/WhatsApp\ Image\ 2026-06-09\ at\ 7.23.40\ PM\ \(1\).jpeg);
    height: 590px;
    width: 100%;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content:center;
    align-items: flex-end;
    
    

}

.pic-1-text{
    color: white;
    text-align: center;
    margin-bottom: 80px;  
}

.pic-1-text > span{
    font-size:1.5em;
    font-weight: 400;
    font-family: sans-serif;
}

.pic-1-text > p{
    font-size: 1.4em;
    font-weight: 400;
    font-family: sans-serif;
    margin: 0px;

}

.pic-1-text > button{
    margin-top: 10px;
    padding:8px 16px;
    background-color:rgb(5, 180, 250);
    color: white;
    border-radius: 20px;
    font-weight: 400;
}

.pic-2{
    background-image: url(./assets/iphone17.jpeg);
    height: 700px;
    width: 100%;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}

.pic-2-text{
    color: white;
    text-align: center;

}

.pic-2-text > h1{
    font-size: 4em;
    font-family: sans-serif;
    
}

.pic-2-text > p{
    font-size: 2em;
    font-family: sans-serif;
}

.pic-2-text > button{
    padding: 15px 25px;
    border-radius: 25px;
    font-size: large; 
}

.pic-2-text > .btn-1{
    color: white;
    background-color:rgb(5, 180, 250);
    border: none;
    margin-right:5px;
}

.pic-2-text > .btn-2{
    color:rgb(3, 106, 146);
    border-color: white;
    background-color: black;
}

.pic-3{
     background-image: url(./assets/);
    height: 700px;
    width: 100%;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}

.pic-3{
     background-image: url(./assets/WhatsApp\ Image\ 2026-06-09\ at\ 7.23.36\ PM.jpeg);
    height: 700px;
    width: 100%;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}


.pic-3-text{
    color:black;
    text-align: center;

}

.pic-3-text > h1{
    font-size: 4em;
    font-family: sans-serif;
    
}

.pic-3-text > p{
    font-size: 2em;
    font-family: sans-serif;
}

.pic-3-text > button{
    padding: 15px 25px;
    border-radius: 25px;
    font-size: large; 
}

.pic-3-text > .btn-1{
    color: white;
    background-color:rgb(5, 180, 250);
    border: none;
    margin-right:5px;
}

.pic-3-text > .btn-2{
    color:rgb(5, 5, 5);
    border-color: rgb(7, 7, 7);
    background-color: rgb(250, 248, 248);
}

.row-pic{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 5px;
}

.row-pic-1{
    background-image: url(./assets/promo_college_students_2026__b8cb1kmdv32a_small_2x.jpg);
    height:600px;
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.row-pic-2{
    background-image: url(./assets/macbook.jpeg);
    height: 600px;
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.row-pic-1-text{
    color: rgb(12, 12, 12);
    text-align: center;
}

.row-pic-1-text > h1{
    font-family: sans-serif;
    font-size: 3em;
}


.row-pic-1-text > p{
    font-family: sans-serif;
    font-size: 1.5em;
}

.row-pic-1-text > .btn-1{
    padding: 10px 15px;
    color: white;
    background-color:rgb(5, 180, 250);
    font-size: large;
    border-radius: 20px;
}

.row-pic-2-text{
    color: rgb(12, 12, 12);
    text-align: center;
}

.row-pic-2-text > h1{
    font-family: sans-serif;
    font-size: 3em;
}


.row-pic-2-text > p{
    font-family: sans-serif;
    font-size: 1.5em;
}

.row-pic-2-text > .btn-1{
    padding: 10px 15px;
    color: white;
    background-color:rgb(5, 180, 250);
    font-size: large;
    border-radius: 20px;
}

.row-pic-2-text > .btn-2{
    padding: 10px 15px;
    color: rgb(17, 17, 17);
    background-color:rgb(250, 252, 253);
    font-size: large;
    border-radius: 20px;
}

.row-picture-2{
     display: flex;
    justify-content: center;
    margin-top: 5px;
    gap: 5px;
    
}

.row-child-1{
    background-image: url(./assets/watch11.jpeg);
    height:600px;
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.row-child-2{
    background-image: url(./assets/macbookair.jpeg);
    height:600px;
    width:50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.row-child-1-text{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: black;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

.row-child-1-text > p{
    margin: 0px;
    margin-bottom: 10px;
    padding: 0px;
}

.row-child-1-text > img{
    width: 70%;
}

.row-child-1-text > p{
    font-size: 1.5em;
}

.row-child-1-btn > .btn-1{
    padding: 10px 15px;
    color: white;
    background-color:rgb(5, 180, 250);
    font-size: large;
    border-radius: 20px;
}

.row-child-1-btn > .btn-2{
     padding: 10px 15px;
    color: rgb(17, 17, 17);
    background-color:rgb(250, 252, 253);
    font-size: large;
    border-radius: 20px;
}

.row-child-2-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.row-child-2-text > p{
    font-size: 1.5em;
    font-family: sans-serif;
    margin: 0px 0px 5px 0px;
}

.row-child-2-btn > .btn-1{
    padding: 10px 15px;
    color: white;
    background-color:rgb(5, 180, 250);
    font-size: large;
    border-radius: 20px;
}

.row-child-2-btn > .btn-2{
     padding: 10px 15px;
    color: rgb(17, 17, 17);
    background-color:rgb(250, 252, 253);
    font-size: large;
    border-radius: 20px;
}

.row-p-3{
    display:flex;

}

.row-p-1{
    background-image:url(./assets/airpods.jpeg);
    height: 600px;
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.row-p-2{
    background-image: url(./assets/iphones.jpeg);
    height: 600px;
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.row-p-1-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row-p-1-text > p{
    color: black;
    font-size: 1.5em;
    font-weight: 500;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    margin-bottom: 5px;
}

.row-p-1-text > .btn{
    padding: 10px 15px;
    color: white;
    background-color:rgb(5, 180, 250);
    font-size: large;
    border-radius: 20px;
}

.row-p-2-text{
      display: flex;
    flex-direction: column;
    align-items: center;
}

.row-p-2-text > span{
    color: black;
    font-size: 1.5em;
    font-family: sans-serif;
    font-weight: 500;
}

.row-p-2-text > .btn{
    padding: 10px 15px;
    color: white;
    background-color:rgb(5, 180, 250);
    font-size: large;
    border-radius: 20px;
    margin-top: 10px;
}

.fear-pic{
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.fear-pic-1{
    background-image: url(./assets/688x368sr.jpg);
    height: 400px;
    width: 80%;
    background-size: cover;
    background-position: center;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start; */
}

.fear-pic-text > h1{
    text-align: center;
    font-family: sans-serif;
    font-size: 4em;
}

.pic-row{
    display: flex;
    align-items: center;
    justify-content: space-evenly
}

.pic-row-1{
    background-image: url(./assets/img3.jpeg);
    height: 300px;
    width: 30%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.pic-row-2{
    background-image: url(./assets/img1.jpeg);
    height: 300px;
    width: 30%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.pic-row-3{
    background-image: url(./assets/img2.jpeg);
    height: 300px;
    width: 30%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.text{
    width: 100%;
    padding: 0 22px;
    max-width: 980px;
    margin: auto;
    margin-top: 10px;

}

.text > span{
    font-family: sans-serif;
    font-size: 12px;
    text-align: justify;
}



.footer-list{
    color: black;
    display: block;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.list{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-family: sans-serif;
    width: 980px;
    margin: 40px auto;
}

.list-1, .list-2, .list-3, .list-4, .list-5{
     width:196px;
}

h3{
    font-size: small;
}

.footer-list > li{
    font-size: small;
    color: rgb(63, 63, 63);
    margin-bottom: 5px;
}

.icon-1{
    display: none;
}

@media screen and (max-width: 768px) {
    .li-text{
        display: none;
    }

    .icon-1{
        display: block;
    }

    .footer-list{
        display: none;
    }

    .list{
        margin: 0px;
        padding: 0px;
        flex-direction: column;
        margin-left: 20px;
    }
   
    .pic-row-1, .pic-row-2, .pic-row-3{
        background-size: contain;
    }


}